
/* Quelques styles classiques par éléments globaux */

body{
    background-color: #f2f2f2;
    margin: 0;
    font: 16px Futura;

}

p {
  font: 16px Futura;
}

section { 
    display: block;
    background-color:  #f2f2f2;

  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.w3-button{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Le lien devient noir (#111) lorsque la souris passe dessus */
li a:hover {
    background-color: #111;
    color:white;
}

ul .nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

h3{
  text-align: center;
  font: 20px Futura;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color:#585858;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.notification .badge {
  position: relative;
  top: -9px;
  right: 10px;
  padding: 3px 6px;
  border-radius: 50%;
  background: red;
  color: white;
} 

/* Quelques styles pour la barre de navigation supérieure commune à toutes les vues (couleur noire lorsque souris passe dessus)*/
.active {
    background-color: #4CAF50;
    color: white;
}

.title_nav
{
    float:none;
}





/* Page serieinfo */
/*commun à toute la partie sur les infos de la série*/
.serieinfo {
      box-shadow: 10px 10px grey;
      width: 654px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0.3em 1em #000;
}

/*bloc titre et genre de la série*/
.serie_header {
  background-color:#404040;
  width: 655px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-top: 0;
  color:white;
}
/*titre de la série*/
.serie_header h3 {
  font: 24px Futura;
  text-align: center;
  color:white;
  margin-top: 0px;
  background-color:#404040;
}

/* pour que les genres de la série s'affiche proprement*/
.wrapper_info {
  display: flex;
  justify-content: space-around;
  }    

/* bloc avec image et video */
.media{
  display:flex;
  justify-content: center
}

/* partie image de serieinfo*/
.img_info
{
    height: 345px;
    width: 233px;
}

.img_info img
{
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}


/* Partie vidéo de serieinfo*/
.frame {
  position:relative;
  width: 420px;
  height: 345px;
}

.frame iframe{
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-width: 1px;
}

/* informations sur la série */
.text_info {
    width: 654px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

/* aliceblue */
.text_info p {
  color:#F0F8FF;
  margin-left: 10px;
}

/* Bloc série similaire dans la page serieinfo*/

.similarserie {
  background-color: lightgrey;
  box-shadow: 0 0.3em 1em #000;
}


/* Partie seasoninfo */
.season_info {
  box-shadow: 0 0.3em 1em #000;
  background-color: gray;
}

.season_info img {
    height: 345px;
    width: 233px;
}

.season_info.info {
      display: flex;
}

/* Partie d'affichage de tous les épisodes de la saison */
.episodes_info {
      box-shadow: 2px 2px 5px 0px #656565;
      width: 654px;
      background-color: lightgrey;
      margin-left: auto;
      margin-right: auto;
      background-color: 
      box-shadow: 0 0.3em 1em #000;
}

.episodes_info.info{
  display:flex;
}

.ep_container{
  width: 60%;
  position:relative;
}


/* Affichage de 5 images par ligne avec images, possibilté de l'ajouter aux favoris et d'avoir plus d'infos sur la série */
#content{
    font: 14px Futura;
}

.wrapper{
    display:flex;
    flex-wrap:wrap;
}

.container {
    position: relative;
    width: 20%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  width: 80%;
    height: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
    display: inline-block;
    top: 20%;
    left: 20%;
    width: 100%;
    height: 65%;
}

.text a {
    margin-bottom: 50%;
    margin-top: 20%;
    height: 50%;
    width: 50%;
    text-align: center;
}

.middle button {
      transition: width 0.4s ease-in-out;
      width: 100%;
     padding: 6px;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.middle button:hover{
    cursor: pointer;
    cursor: hand;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
/*    background-color: red;*/
}

.middle button:focus{
  background-color: red;
}


/* bouton pour aller à la page précédente ou suivant en bas de page (rajouter en haut de page aussi */

.previous {
    background-color: #f1f1f1;
    color: black;
    margin: 0.5%;
}

.next {
    background-color: #4CAF50;
    color: white;
    float: right; 
    margin: 0.5%;

}


/* Pour la page search_result */

.searchbar input[type=text] {
  height: 25px;
  width: 50%;
}

.searchbar button {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;

  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchbar button:hover {
  background: #ccc;
}

.searchbar input[type=submit] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom:30px;
    font-size: 17px;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/*.searchbar input[type=text]:focus {
    width: 70%;
}*/



.dropdown-menu{
  top: 60px;
  right: 0px;
  left: unset;
  width: 460px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
}
.dropdown-menu:before{
  content: "";
  position: absolute;
  right: 12px;
  border:10px solid #343A40;
  border-color: transparent transparent #343A40 transparent;
}

.notification-box{
  padding: 10px 0px; 
}

@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;  
      width: 290px;
    } 
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}
