{% extends "base.html" %}
{% block title %}Sign up page for My Serie Platform{% endblock %}
{% block content %}
{% if user.is_authenticated %}



<br />
<br />
The recent episodes of your favorite shows are:

{% for serie in recent_episodes %}
	<b><p>{{ serie.serie_name }} : {{ serie.season_name }}</p></b>
	
	<table>

   
    <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Name</th>
           <th>Overview</th>
           <th>First air date</th>
		   <th></th>
       </tr>
    </thead>

    <tbody> <!-- Corps du tableau -->
	{% for episode in serie.episodes %}
		<tr>
           <td>{{ episode.episode_name }}</td>
           <td>{{ episode.episode_overview }}</td>
           <td>{{ episode.episode_air_date }}</td>
		   <td><a href="/serieinfo/{{ serie.serie_id }}"> More info</a></td>
       </tr>
	{% endfor %}       
    </tbody>
	</table>
{% endfor %}


<br />
<br />
The incoming episodes of your favorite shows are:

{% for serie in incoming_episodes %}
	<b><p>{{ serie.serie_name }} : {{ serie.season_name }}</p></b>
	
	<table>

   
    <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Name</th>
           <th>Overview</th>
           <th>First air date</th>
		   <th></th>
       </tr>
    </thead>

    <tbody> <!-- Corps du tableau -->
	{% for episode in serie.episodes %}
		<tr>
           <td>{{ episode.episode_name }}</td>
           <td>{{ episode.episode_overview }}</td>
           <td>{{ episode.episode_air_date }}</td>
		   <td><a href="/serieinfo/{{ serie.serie_id }}"> More info</a></td>
       </tr>
	{% endfor %}       
    </tbody>
	</table>
{% endfor %}	

<br />
<br />
The trending series today are:
<br />
<br />

<table>
   
   <thead> <!-- En-tête du tableau -->
       <tr>
           <th>Name</th>
           <th>Overview</th>
           <th>Vote</th>
		   <th>First air date</th>
		   <th></th>
       </tr>
   </thead>

   <tbody> <!-- Corps du tableau -->
   {% for serie in results_trending %}
		<tr>
           <td>{{ serie.name }}</td>
           <td>{{ serie.overview }}</td>
           <td>{{ serie.vote_average }}</td>
		   <td>{{ serie.first_air_date }}</td>
		   <td><a href="/serieinfo/{{ serie.id }}"> More info</a></td>
       </tr>
	{% endfor %}       
   </tbody>
</table>

{% else %}
Vous devez être connecté !
{% endif %}
{% endblock %}