{% extends "base.html" %}
{% block title %}Sign up page for My Serie Platform{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="season_info">
<br />

<!-- Gestion des pages précédentes et suivantes en fonction du numéro de saisons -->

<!-- Si le numéro de série est 0 il n'y a pas de saison précédent on ne met que le bouton next -->
{% if page == 0 %}
<a href="/serieinfo/{{id}}/seasoninfo/{{next_page}}/{{nb_seasons}}" class="next">Next &raquo;</a>

<!-- Si le numéro de série est 1 il faut vérifier s'il y a une saison précédente pour les flèches -->
{% elif page == 1 %}
{% if season_info.prev_season == 0 %}
<!-- Dans ce cas, pas de saison 0 -->
<a href="/serieinfo/{{id}}/seasoninfo/{{next_page}}/{{nb_seasons}}" class="next">Next &raquo;</a>
{% elif season_info.prev_season == 1 %}
<!-- Dans ce cas, il y a une saison 0, on doit donc aussi mettre le bouton previous -->
<a href="/serieinfo/{{id}}/seasoninfo/{{previous_page}}/{{nb_seasons}}" class="previous">&laquo; Previous</a>
<a href="/serieinfo/{{id}}/seasoninfo/{{next_page}}/{{nb_seasons}}" class="next">Next &raquo;</a>
{% endif %}

<!-- Il s'agit de la dernière saison, on ne peut aller sur la page suivante donc on ne met que le bouton précédent -->
{% elif page == nb_seasons %}
<a href="/serieinfo/{{id}}/seasoninfo/{{previous_page}}/{{nb_seasons}}" class="previous">&laquo; Previous</a>

<!-- Saison qui a une précédente et une suivante -->
{% else %}
<a href="/serieinfo/{{id}}/seasoninfo/{{previous_page}}/{{nb_seasons}}" class="previous">&laquo; Previous</a>
<a href="/serieinfo/{{id}}/seasoninfo/{{next_page}}/{{nb_seasons}}" class="next">Next &raquo;</a>
{% endif %}

<!-- Titre de la saison -->
<h3 margin-top: 10%>{{ season_info.name }}</h3>
<div class="season_info.info" style="margin-left:3%;display: flex;">
	<img src={{season_info.poster_path}} alt="Avatar" class="image">

	<div class="season_info.text" style="margin-left:3%;margin-top:3%"> 
	<p  style="font-style:italic; margin-top: 0;margin-bottom: 30px;">{{ season_info.overview }}</p>
	<p><b>Air date : </b>{{ season_info.air_date }}</p>
	<p><b>Number of episodes : </b>{{ season_info.episode_count }}</p></div>
</div>
	<br /></div>



<div class="episodes_info">
	<br/>
	<h3>View all episodes: </h3>
{% for episode in season_info.episodes %}
<h4 style="margin-block-start: 2em;
    margin-block-end: 1em; margin-left: 1%;">{{ episode.name }}</h4>
<div class="episodes_info.info" style="margin-left: 3%;display:flex;">
	
	<div class="ep_container" style="width: 181px;height: 122px">
        {% if episode.still_path == None  %}
      <img  style="width: 181px;height: 122px" src="/static/img/no_image_available.png" alt="Avatar" class="image" >
        
        {% else %}
          <img   style="width: 181px;height: 122px"src=" https://image.tmdb.org/t/p/w500{{ episode.still_path }}" alt="Avatar" class="image" >

        {% endif %}
      </div>
<div class="episodes_info.text" style="margin-left:3%;">
	<p style="font-style:italic;margin-block-start: 0em;">{{ episode.overview }}</p>
	<p><b>Episode air date : </b>{{ episode.air_date }}</p>
</div>

	<br />
</div>
{% endfor %}
<br />
</div>
{% else %}
Vous devez être connecté !
{% endif %}
{% endblock %}