{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Load an icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
   <title>{% block title %}My TV show platform{% endblock %}</title>
</head>

<body>

    <nav>
       {% block nav %}
        
       <ul>
            <li><a class="active" href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
            <li><a href="/signup/"><i class="fa fa-fw fa-user-o"></i>Signup</a></li>
            <li><a href="/login/"> <i class="fa fa-fw fa-user"></i>Login</a></li>
            <li style="float:right"><a href="/logout/"><i class="fa fa-fw fa-power-off"></i></a></li>

           {% if user.is_authenticated %}
      {% if nb_total > 0 %}
      <li style="float:right;height:2px"><a class="notification" href=#> <i class="fa fa-fw fa-bell"><span class="badge">{{nb_total}}</span></i></a>
        <ul class="nav-dropdown" style="position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);max-width: 250px;display: none;right:50px;"> 
    {% if nb_now != 0 %}
    {% for serie in dict_now.values %}
    {% if serie.alert == 0 %}
        <li><a href="/serieinfo/{{ serie.id }}"> {{serie.name}} today ! </a></li>
    {% else %}
        <li><a href="/serieinfo/{{ serie.id }}"> {{serie.name}} tomorrow </a></li>
    {% endif %}

     {% endfor %}
    {% endif %}

  {% if nb_soon != 0 %}
  {% for serie in dict_soon.values %}

        <li><a href="/serieinfo/{{ serie.id }}"> {{serie.name}} in {{serie.alert}} days</a></li>
    {% endfor %}
    {% endif %}

      </ul>
      </li>
    {% else %}
    <li style="float:right;height:2px"><a class="notification" href=#> <i class="fa fa-fw fa-bell"></i></a>
    {% endif %}


           <li><a href="/search/"><i class="fa fa-fw fa-search"></i>Search</a></li>
           <li><a href="/favorites/"><i class="fa fa-fw fa-heart"></i>Favorites</a></li>
           <li><a href="/trending/1"><i class="fa fa-fw fa-rocket"></i>Trending</a></li>
           {% endif %}
           <li style="float:none"><a>My TV show Platform</a></li>


                  
<script>
  

(function($) {
  $(function() {
    $('nav ul li > a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
  });
  document.querySelector('#nav-toggle').addEventListener('click', function() {
    this.classList.toggle('active');
  });
  $('#nav-toggle').click(function() {
    $('nav ul').toggle();
  });
})(jQuery);

</script>


       </ul>
     </div>

       {% endblock %}
   </nav>
   <section id="content" style="min-height:  calc(100vh - 177px);">
       {% block content %}{% endblock %}
   </section>
<!-- <br/> -->

<div class="end" style="background-color: #333;
    color: white;
    bottom: 0px;height:177px;clear: both;">
  <br/>
<h4 style="margin-left: 3px;">My TV show platform</h4>
<p style="font-style: italic; margin-left: 7px;">Find all your favorite TV shows and discover new trending TV shows to watch ! Stay tuned with notifications letting you know when will be aired next episodes of your favorite series !</p>
<a style="color: white" href=""><i class="fa fa-fw fa-phone"></i>Contact</a>

<footer>&copy; My TV show Platform - copyright 2018
</footer>
</div>

</body>
</html>